*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home .container {
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
    
}
.home .container .nav-left {
width: 70%;
}
.home .container .nav-right {
    width: 30%;
}